body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Times New Roman', Times, serif, sans-serif;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.6;
}

/* Header */
header {
    background-color: #31a5e9;
    color: #ffffff;
    padding: 1rem;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
  }
  
  nav ul li {
    margin-left: 1rem;
  }
  
  nav ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #000000;
  }

.thank-you {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.thank-you-content {
    max-width: 600px;
    margin: 0 auto;
}

.thank-you img {
    max-width: 100%;
    height: auto;
    margin-top: 30px;
}

.qr-code {
    width: 200px; 
    height: 200px;
}
/* Footer styles */
footer {
    background-color: #31a5e9;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}