<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Irminsul Bank</title>
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
    <div class="wrapper">
        <header>
            <nav>
                <div class="logo">Irminsul Bank</div>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                </ul>
            </nav>
        </header>

        <div class="content">
            <section class="about-content">
                <div class="image-container">
                    <img src="images/Lumine.png" alt="Layanan Bantuan">
                    <img src="images/paimong.gif" alt="Layanan Bantuan">
                </div>
                
                <h1>Tentang Kami</h1>
                <p>Irminsul Bank adalah website yang bergerak di bidang penyediaan jasa yang dikhususkan untuk para pemain game Genshin Impact. Kami memahami betapa pentingnya pengalaman bermain game yang menyenangkan dan memuaskan. Oleh karena itu, kami hadir untuk memberikan layanan yang mungkin dapat membantu para pemain untuk mencapai apa yang mereka inginkan dalam game.</p>
                <p>Kami percaya bahwa setiap pemain memiliki cara unik untuk menikmati permainan. Oleh karena itu, kami selalu siap mendengarkan kebutuhan dan keinginan Anda untuk memberikan layanan yang paling sesuai. Irminsul Bank tidak hanya sekadar penyedia jasa, tetapi juga mitra yang dapat diandalkan dalam perjalanan Anda di dunia Teyvat.</p>
            </section>
        </div>

        <!-- Footer -->
        <footer>
            <p>&copy; 2024 Irminsul Bank. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>
