<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Irminsul Bank</title>
<link rel="stylesheet" href="/css/home.css">
</head>
<body>
<!-- Header -->
<header>
    <nav>
        <div class="logo">Irminsul Bank</div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
    </nav>
</header>

<!-- Hero Section -->
<section class="hero">
    <div class="hero-content">
    <h1>Selamat Datang di Layanan Kami</h1>
    <p>Butuh bantuan?  Order Sekarang!</p>
    <a href="https://neartail.com/sm/pRlvagxwv" target="_self">
        <button>Order Sekarang</button>
    </a>
    </div>
</section>


<section class="video-section">
  <h2>Genshin Impact Gameplay Trailer</h2>
  <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/B8197NUQ0LE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <p>"Rasakan dunia terbuka Teyvat yang luas di Genshin Impact!"</p>
</section>


<!-- Features Section -->
<section class="features">
    <div class="feature">
    <img src="https://ik.imagekit.io/ypj908auu/img/map.png?updatedAt=1721611586364" alt="Feature 1">
    <h3>Teyvat Interactive Map</h3> 
    <p>Map untuk mencari rute dan lokasi item pada game Genshin Impact</p>
    <a href="https://act.hoyolab.com/ys/app/interactive-map/index.html" target="_self">
        <button>Map</button>
    </a>
    </div>
    <div class="feature">
    <img src="https://ik.imagekit.io/ypj908auu/img/contact-book.png?updatedAt=1721123611787" alt="Feature 2">
    <h3>Character Build & Tips</h3>
    <p>Tutorial build character weapon, artifact, material ascend character</p>
    <a href="/character-tips" target="_self">
        <button>Characters</button>
    </a>
    </div>
    <div class="feature">
    <img src="https://ik.imagekit.io/ypj908auu/img/Admin.png?updatedAt=1721123611218" alt="Feature 3">            
    <h3>Admin Community</h3>
    <p>Media sosial admin</p>
    <a href="https://discord.gg/RBFAbSnVTz" target="_self">
        <button>Social</button>
    </a>
    </div>

</section>

<!-- Footer -->
<footer>
    <p>&copy; 2024 Irminsul Bank. All rights reserved.</p>
    <a href="#" id="scrollToTop" class="top">&#8593;</a>
</footer>
    <script src="Javascript file/scrollbutton.js"></script>
</body>
</html>